body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img,
u,
i {
    list-style: none;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 12px;
    background-color: transparent;
    font-family: "微软雅黑";
}

.wrapper {
    min-width: 810px;
    min-height: 600px;
    height: 100%;
    position: relative;
}
.m-wrapper{
	display: none;
}

/*头部样式*/

.header {
    height: 23px;
    /*border: 1px solid #000;*/
}

.header .nav {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 19px;
    padding-bottom: 5px;
    padding: 19px 96px 5px;
}

.header .nav a {
    float: left;
    font-size: 13px;
    color: #333;
    margin-left: 20px;
}

.header .h-nav:hover,
.header .lg:hover,
.header .st:hover {
    color: #00c;
}

.header .nav .h-nav {
    font-weight: 700;
}

.header .nav .h-more {
    position: absolute;
    right: 10px;
    width: 60px;
    height: 23px;
    color: #fff;
    line-height: 23px;
    background: #38f;
    text-decoration: none;
    text-align: center;
}

.m-header{
	display: none;
}
/*头部样式 end*/


/*中间样式*/

.container {
    position: relative;
    top: 37.2%;
}

.container .s-form {
    position: absolute;
    left: 50%;
    margin-left: -320px;
    margin-top: -200px;
}

.container .s-form .logo1 {
    margin-left: 185px;
    padding-bottom: 22px;
}


/*搜索框内的小相机*/

.s-form .camera-img {
    position: absolute;
    background: #fff url(../images/camera_new_679c15cc.png) no-repeat;
    top: 165px;
    left: 510px;
    height: 16px;
    width: 18px;
}

.s-form .camera-img:hover {
    background-position: 0px -20px;
    cursor: pointer;
}


/*搜索框内的小相机 end*/

.container .s-form .search-ipt {
    float: left;
    width: 540px;
    height: 34px;
    border: 1px solid #b6b6b6;
    outline: 0;
    text-indent: 7px;
}


/*鼠标滑入搜索框*/

.container .s-form .search-ipt:hover {
    border-color: #999;
}


/*鼠标滑入搜索框 end*/


/*搜索框获得焦点*/

.container .s-form .search-ipt:focus {
    border-color: #4791ff;
}


/*搜索框获得焦点 end*/

.container .s-form .search-btn {
    width: 100px;
    height: 36px;
    line-height: 36px;
    float: left;
    outline: 0;
    border: 1px solid #2d78f4;
    background: #3385ff;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
}

.s-form .search-btn:hover {
    background: #317ef3;
    border-bottom: #2868c8;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
}


/*中间样式 end*/


/*下方手机百度二维码*/

.mobile {
    position: absolute;
    bottom: 140px;
    height: 60px;
    width: 100%;
    text-align: center;
}

.mobile .m-img {
    background: url(../images/mobile.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.mobile .m-txt {
    color: #666;
    font-size: 13px;
    line-height: 23px;
    font-weight: 700;
}


/*下方手机百度二维码 end*/


/*尾部样式*/

.footer {
    position: absolute;
    text-align: center;
    bottom: 47px;
    color: #999;
    left: 50%;
    margin-left: -262px;
}

.footer a {
    color: #999;
}

.footer .fl a {
    margin-left: 25px;
}

.footer .fl:first-child {
    margin-left: -25px;
}

.footer .c-icon-jgwablogo {
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat;
    background-position: -623px -96px;
    position: relative;
    top: 3px;
}


/*尾部样式 end*/


/******************************响应式样式***********************/

@media screen and (max-width:400px) and (max-width:768px) {
    .footer {
        display: none;
    }
}


/******************************响应式样式 end******************/
